<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body style="background-color: #667461">

<h1>Lista de clientes</h1>
<a href="crear_cliente" style="margin-left: 10%; 
	background:#0CF;
	color:#FFF;
	padding:10px;
	font-size:15px;">Nuevo Cliente</a>
<br>
<br>
<a href="{% url 'cerrar_sesion' %}" style="margin-left: 10%; 
	background:red;
	color:#FFF;
	padding:10px;
	font-size:15px;">Cerrar sesion</a>
<div class="container">
<br>	
<div class="container">
	<form method="GET">
		<div id="search">
			<input type="text" class="form-control" placeholder="Buscar" name="buscar">
			<button type="submit" class="button btn-success">Buscar</button>
		</div>
	</form>
</div>
			<table border="1" class="table">
				<thead class="thead-dark">
					<tr>
						<th>Cedula</th>
						<th>Apellidos</th>
						<th>Nombres</th>
						<th>Celular</th>
						<th>Mas</th>
					</tr>
				</thead>
			{% for c in lista %}
				<tr style="background-color: white">
					<td><a href="modificar_cliente?cedula={{c.cedula}}">{{c.cedula}}</a></td>
					<td>{{c.apellidos}}</td>
					<td>{{c.nombres}}</td>
					<td>{{c.celular}}</td>
					<td><a href="ver_cuenta?cedula={{c.cedula}}">Cuentas</a> /
						<a href="eliminar_cliente?cedula={{c.cedula}}">Eliminar</a></td>
				</tr>
			{% endfor %}
			</table>
		<a href="/" >Regresar</a>
</div>
</body>