<style>
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* sets whole page to Open Sans and sets background color */
body {
  font-family: 'Open Sans', 'sans-serif';
  background-image: url(http://benague.ca/files/congruent_outline.png);
}

/* login div */
.login {
  background-color: #eee;
  width: 420px;
  height: 312px;
  margin: 0 auto;
  padding: 0;
}

/* login header */
h1 {
  color: #55acee;
  text-align: center;
  font-size: 36px;
  padding-top: 10px;
}

/* div containing form */
form {
  text-align: center;
}

/* username and password fields */
input:not([type="button"]) {
  font-family: 'Open Sans', 'sans-serif';
  border: 1px solid #acacac;
  color: #666;
  opacity: .7;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  width: 250px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  font-size: 16px;
}

input:focus:not([type="button"]) {
  border: 1px solid #55acee;
  opacity: 1;
  width: 320px;
  outline: none;
  color: #55acee;
}

/* submit button */
input[type="button"] {
  padding: 15px 25px;
  font-size: 22px;
  width: 420px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  outline: none;
  border: none;
}

input[type="button"]:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 0px 0px;
}

input[type="button"]:hover {
  background-color: #6FC6FF;
}
#boton{
   padding: 15px 25px;
  font-size: 22px;
  width: 371px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  outline: none;
  border: none;
}
</style>


<!-- login div -->
<div class="login">
<!-- login header -->
  <h1 id="header">Inicia sesion</h1>
<!-- start da login goodness -->
  <form id="form" method="POST">{% csrf_token %}
    {{formulario.as_p}}
    <button type="submit" value="Ingresar">Ingresar</button>
    <a type="button" href="/" style="background-color: purple;" id="boton">Cancelar</a>
  </forn>
</login>

